
<div class="container">
  <div class="row">

    <div class="col-3"></div>
    <div class="col-1 bg-dark"></div>
    <div class="col-4 bg-dark">
      <form>

        <br>
        <br>
        <br>

        <div class="form-group">
          <label for="formGroupExampleInput">Э кымге лактырасн</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Мне нужен его номер">
        </div>

        <div class="form-group">
          <label for="formGroupExampleInput2">Введите сумму</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Сколько денжат закинешь радной">
        </div>

        <br>
        <br>
        <br>

      </form>
    </div>
    <div class="col-1 bg-dark"></div>
    <div class="col-3"></div>

  </div>

</div>
