<br>

<div class="container">
  <div class="row">
    <div class="col-1"></div>
<!--    Carousel component-->
    <div class="col-6" id="carousel">
        <app-carousel></app-carousel>
<!--      -->
    </div>

    <div class="col-3">
        <div class="scale" >
          <a routerLink="/login">  <img id="halfBlock1" style="width: 100%" src="assets/images/allAboutURCart.jpg"> </a>
        </div>
      <div class="w-100"></div>
      <br>
        <div class="scale">
          <a routerLink="/login">  <img  id="halfBlock2" style="width: 100%" src="assets/images/platezhUslug.jpg"> </a>
        </div>
    </div>
    <div class="col-1"></div>
  </div>
<!--  next row  *************************************************************-->
  <br>

  <div class="row">
      <div class="col-3"></div>

      <div class="col-2 text-dark" style="background-image: url('assets/images/digit.jpg'); opacity: 0.8; border-radius: 10%;">
        <a style="text-decoration: none" routerLink="/transfer"><h2>Transfer</h2></a>
      </div>

      <div class="col-2 text-dark" style="background-image: url('assets/images/digit.jpg'); opacity: 0.8; border-radius: 10%;">
        <a style="text-decoration: none" routerLink="/transaction"><h2>Transaction</h2></a>
      </div>

      <div class="col-2  text-dark" style="background-image: url('assets/images/digit.jpg'); opacity: 0.8; border-radius: 10%;">
        <a style="text-decoration: none" routerLink="/profile">
          <app-profile-block></app-profile-block>
        </a>
      </div>

    <div class="col-3"></div>
  </div>
</div>

  <br>
