
<div class="container">
  <div class="row">
      <div class="col-3"></div>
      <div class="col-6 bg-dark" style="opacity: 0.99">
        <br>
        <h3>Ваши данные</h3>
        <h5 class="card-text">Ф.И.О. : <span style="text-indent: 1px">{{user.fullname}}</span></h5>
        <h5 class="card-text">Ваш номер: {{user.phoneNumber}}</h5>
        <h5 class="card-text">Ваш счет: {{user.amount}}</h5>
      </div>
      <div class="col-3"></div>
  </div>

  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 bg-dark" style="opacity: 0.99">
      <br>

      <button style="width: 100%" class=" btn btn-dark" (click)="historyOfTransactions()">History transactions</button>

      <ul class="list-group bg-dark" *ngFor="let ts of transActions">
        <li class="list-group-item bg-dark">{{ts.id}}. {{ ts.type}} : {{ts.value}} <i style="text-indent: 10px">Сумма:</i>  {{ts.amount}} : </li>
      </ul>

      <br>
      <br>
      <br>

      <button style="width: 100%;" class="btn btn-dark" (click)="historyOfTransfers()">History transfers</button>

      <ul class="list-group bg-dark" *ngFor="let ts of transfers">
        <li class="list-group-item bg-dark">{{ts.id}} : {{ts.amount}} : {{ts.date | date}}</li>
      </ul>

    </div>
    <div class="col-3"></div>
  </div>

</div>
